

html,body {
    width: 100%;
    height: 100;
    font-size: 14px;
    font-weight: normal;
}
body{
    width: 100%;
    height: 100%;
    background-image: url(background2.jpg);
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;
    float: left;
}
p {
 text-indent: 100px;
  text-align: left;
  letter-spacing: 1px; 
}
